@{
    ViewBag.Title = "Campanha dia dos pais";
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}

<div class="featuredProducts">
    <!-- ~/Views/Shared/Blocks/Product/_FeaturedProducts.cshtml -->
    @Html.Action("FeaturedProducts", "Product")
</div>


